<nav class="navbar navbar-expand-lg navbar-dark nav-background">
    <a class="navbar-brand" href="/">
        <h2>Video Link Manager</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-video">Add video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/update-user-info">Account</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="/logout">
                <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
            </a>
        </div>
    </div>
</nav>