body{
  background-color: #E9EBEE;
}

.background{
  background-image: url('/images/bg_login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Numans', sans-serif;
}

.container-background{
  background-color: white;
  min-height: 100vh;
}

.nav-background{
  background-color: #19218d;
}

  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .btn-facebook{
    background-color: #4267B1;
    color: white;
  }


.home-item{
  width: 25rem;
}

.home-item:hover{
  text-decoration: none;
}

.home-item-icon{
  width: 65%;
  height: 16em;
}

.video-thumnbnail{
  width: 80%;
  max-height: 50rem;
}

.video-item-background{
  box-shadow: 10px 10px 5px grey;
  border-width: 1;
  border-color: gray;
  background-color: white;
  /* color: white; */
}

.video-item-rejected{
  background-color: rgb(204, 148, 148);
}

.video-item-approved{
  background-color: rgb(112, 168, 115);
}