<!DOCTYPE html>
<html>

<head>
  <title>
    Admin - Video manager link
  </title>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <% include ../../partials/admin-nav.ejs %>

  <div class="container">
    <div class="row justify-content-center align-item-center card-container">

      <a href="/admin/videos" class="card mx-5 my-3 home-item bg-info text-white">
        <div class="row justify-content-center">
          <img class="card-img-top home-item-icon mx-3 my-3" src="/images/video-icon.png" alt="View User">
        </div>
        <div class="card-body">
          <h2>Video</h2>
          <p class="card-text">View all videos</p>
        </div>
      </a>
     
      <a href="/admin/users" class="card mx-5 my-3 home-item bg-info text-white">
        <div class="row justify-content-center">
          <img class="card-img-top home-item-icon mx-3 my-3" src="/images/user-icon.png" alt="View User">
        </div>
        <div class="card-body">
          <h2>User</h2>
          <p class="card-text">View all users</p>
        </div>
      </a>
     
    </div>

  </div>

</body>

</html>